.configure-page {
	.left {
		width: 50%;
		.option-label{
			text-transform: capitalize;
		}
		.black{
			color: black;
		}
		.button-font {
			font-size: 2rem !important;
		}
		.button {
			width: 80%;
		}
	}
	.right {
		width: 50%;
		&.input-field {
			.title {
				font-size: .8rem;
				margin-bottom: .2rem;
			}
			.input-group{
				display: flex;
				flex-direction: column;
				gap:.1rem;
			}
			.key-input {
				padding: 0 .2rem;
				.key-label {
					font-size: .25rem;
				}
				.key-input-field {
					width: .8rem;	
					font-size: .6rem;
					text-align: center;
					border: 2px solid black;
					border-radius: 0;
					padding: .025rem;
					$color : transparent;
					&:focus{
						border-radius: 0;
						outline: 3px solid white;
						user-select: none;
						&::selection {
							background: $color;
						}
					}
					&:active{
						border-radius: 0;
						outline: 3px solid white;
						&::selection {
							background: $color;
						}
					}								}
			}
		}
	}
}
