.ccls-cache
.ccls-cache/
.ccls-cache/*

.obsidian/
.obsidian/*

#cmake stuff + build stuff recursive as well
./build
./build/*
build/*
build/
*/build
*/build/*
*/build/

*/build-ninja
*/build-ninja/*
*/build-ninja/
./build-ninja
./build-ninja/*
./build-ninja/

#compiled commands from clang
./compile_commands.json
./compile_commands.json/*
compile_commands.json/*

