//import breakpoints
@import '../scss_lib/breakpoint.scss';

.button {

	background-color: #ffffff;	
	padding: .06rem 0.1rem;
	border: 2px solid black;

	.label {
		font-size: .28125rem;
		font-weight: 400;
		//make font-size slightly bigger for mobile
		@include media('<=LGphone') {
			font-size: .4125rem;
		}
	}

	&.thicken {
		border: 4px solid black;
	}
}
