.control-page {
	.control-page-box {
		color:black;
		background: #fff;
		.label{
			display:flex;
			font-weight: 600;
			font-size: .8rem;
		}
	}	
	.sub-label{
			font-size: .5rem;
			margin-left: 0rem;
		}
}
